<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4wUWgPVJDCNZY2WlSZz4onQdN2W7mpvs</string>
	<key>GCM_SENDER_ID</key>
	<string>172875013117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zopsmart.Scheduleia</string>
	<key>PROJECT_ID</key>
	<string>scheduleia</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduleia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172875013117:ios:f1ce766b2a66be8bb81794</string>
</dict>
</plist>